@media screen and (max-width: 950px) {
    .content-text {
        width: 60%;
    }
}

@media screen and (max-width: 850px) {
    header nav ul {
        display: none;
    }

    nav ul.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        padding-top: 100px;
        gap: 20px;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        background-color: #9EBFDA;
    }

    #menu {
        display: block;
        font-size: 1.8em;
    }

    .content-text h1 {
        font-size: 3rem;
    }

    .content-social {
        justify-content: center;
    }
}

@media screen and (max-width: 660px) {
    .content-text {
        width: 80%;
    }

    .content-text h1 {
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 430px) {
    .content-text {
        width: 100%;
    }

    .content-text h1 {
        font-size: 2.3rem;
    }
}